// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-text: #777;
$color-link: #51ddfc;

$color-error: #e4757a;

// Fonts
/*$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;*/

// Layout
//$max-width: 1000px;

// Breakpoints


$break-p: 768px; // used





